@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

h1{
    color: red !important;
    letter-spacing: 20px;
    word-spacing: 20px;
    text-transform: lowercase;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
    font-family: "Bungee Spice", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p{
    text-indent: 50px;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
    /* writing-mode: vertical-lr; */
}

h2{
   text-decoration:overline ;
   text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

h3{
 text-decoration:line-through ;
 text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

h4{
  text-decoration: underline;
  text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

div{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    background-color: brown;
    width: 50%;
    height: 50%;
}

.abc{
    color: brown;

}

#normalText{
    font-style: normal;
    font-weight: normal;

}

#italicText{
    font-style: italic;
    font-weight: bold;


}

#obliqueText{
    font-style: oblique;
    font-weight: 900;


}